<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudServer.Mudserver" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudServer.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MudServer.Mudserver>
            <setting name="TalkerName" serializeAs="String">
                <value>Erehwon</value>
            </setting>
        </MudServer.Mudserver>
    </applicationSettings>
    <userSettings>
        <MudServer.AppSettings>
            <setting name="TalkerName" serializeAs="String">
                <value>Homelands Uni</value>
            </setting>
            <setting name="AdminColour" serializeAs="String">
                <value>{bold}{red}</value>
            </setting>
            <setting name="HCAdminColour" serializeAs="String">
                <value>{bold}{cyan}</value>
            </setting>
            <setting name="StaffColour" serializeAs="String">
                <value>{bold}{magenta}</value>
            </setting>
            <setting name="GuideColour" serializeAs="String">
                <value>{bold}{green}</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="HCAdminName" serializeAs="String">
                <value>HCAdmin</value>
            </setting>
            <setting name="AdminName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="StaffName" serializeAs="String">
                <value>Staff</value>
            </setting>
            <setting name="GuideName" serializeAs="String">
                <value>Guide</value>
            </setting>
            <setting name="DefaultLoginRoom" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="LockLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </MudServer.AppSettings>
    </userSettings>
</configuration>